*{
  all:unset;
  font-family: "SF Pro", "Iosevka Nerd Font";
  color: #dddddd;
  font-size:16px;
}

.bar {
	background-color: transparent;
}

.main-container {
  padding:8px 12px;
  // background-color: #010101;
  background-color: #232136;
  border-radius: 12px;
  margin: 3px 3px 0 3px;
}

.workspaces {
  margin-left: -6px;
  padding-left:0px;
}


.time {
  background: transparent;
}

.systray{
  padding-right:8px;
}
